<div class="row mt-4">
  {{#if posts.length}}
  <div class="col-md-8  mx-auto post-list">
    <h3>{{name}}'s Posts:</h3>

    {{#each posts as |post|}}
    <div class="row mt-3 border-bottom border-dark">
      <div class="col-9">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-3 text-right">
        <a class="btn btn-sm btn-info" href="/edit/{{post.id}}" edit-id="{{post.id}}"><i class="fas fa-edit"></i> Edit
          Post</a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<div class="row mt-4">
  <div class="col-md-6  text-center mx-auto">
    <div class="form-group">
      <a class="btn btn-success" href="/new"><i class="fas fa-plus"></i> Create New Post</a>
    </div>
  </div>
</div>